body {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #0b1f19;
}
.mainCon {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.contentCon {
  position: relative;
  display: flex;
  min-width: 100%;
  overflow-x: hidden;
  height: 100%;
  gap: 10px;
  flex-wrap: nowrap;
  align-items: center;
}
.sideBarCon {
  position: relative;
  width: 100%;
  max-width: 240px;
  height: 100%;
  flex-shrink: 0;
  max-height: 800px;
  /* background-color: #2c5147; */
}
.sideBarPos {
  position: relative;
  width: 100%;
  max-width: 240px;
  height: 100%;
  flex-shrink: 0;
  max-height: 800px;
  background-color: #2c5147;
}
.albumMain {
  position: relative;
  display: flex;
  overflow-x: hidden;
  min-width: 100%;
  height: 100%;
  max-height: 800px;
  gap: 10px;
  flex-wrap: nowrap;
  align-items: center;
}
.albumCon {
  position: absolute;
  width: 100%;
  max-width: 1090px;
  flex-shrink: 0;
  height: 100%;
  max-height: 800px;
  background-color: #345f53;
}
.photoInner {
  position: absolute;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 50% 50%;
  width: 100%;
  max-width: 1060px;
  height: 100%;
  max-height: 780px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.arrowLeft {
  position: absolute;
  background-image: url("../imgs/icon/arrow-left-32px.png");
  background-position: -8px;
  width: 32px;
  height: 32px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 0;
  cursor: pointer;
}
.arrowRight {
  position: absolute;
  background-image: url("../imgs/icon/arrow-right-32px.png");
  background-position: 8px;
  width: 32px;
  height: 32px;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  right: 0px;
}
.photo {
  position: relative;
  width: 95%;
  margin: auto;
  height: 95%;
  /* background-color: transparent; */
}
.imgAdj {
  position: relative;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  object-fit: contain;
}
.photoAdd {
  position: relative;
  display: inline-block;
  background-image: url("../imgs/icon/camera-256px.png");
  background-size: 240px 240px;
  background-repeat: no-repeat;
  background-position: center;
  width: 240px;
  height: 240px;
  margin: auto;
  cursor: pointer;
  transition: ease 0.4s all;
}
.photoAdd:hover {
  background-size: 180px 180px;
}
.photoAddInputCls {
  width: 0px;
  height: 0px;
}
.photoAddLabel {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.nextAlbum {
  height: 70%;
  z-index: -3;
}
.photoEditCon {
  position: absolute;
  max-width: 1080px;
  max-height: 550px;
  width: 100%;
  opacity: 0;
  z-index: -3;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: darkslateblue;
}
.photoEditInner {
  position: relative;
  display: flex;
  width: 99%;
  height: 100%;
  gap: 5px;
  margin: auto;
}
.photoPreviewCon {
  position: relative;
  width: 45%;
  height: 100%;
  background-color: burlywood;
}
.photoExplanationCon {
  position: relative;
  width: 54%;
  height: 100%;
}
.photoPreview {
  position: relative;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  object-fit: contain;
}
.inputTitle {
  box-sizing: border-box;
  height: 25px;
  width: 100%;
}
#inputExplanation {
  resize: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.editBtns {
  position: relative;
  width: 30%;
  height: 25px;
  margin: 0;
  padding: 0;
  left: 70%;
  text-align: right;
}
.finishBtns {
  width: 45%;
  height: 100%;
}
.cancelBtns {
  width: 45%;
  height: 100%;
}
.createAlbum {
  opacity: 0;
}
.photoBtns {
  position: absolute;
  gap: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.editLabel {
  position: relative;
  display: inline-block;
  text-align: center;
  background-color: transparent;
  line-height: 30px;
  width: 60px;
  height: 30px;
  cursor: pointer;
  box-sizing: border-box;
}
#edit {
  width: 0;
  height: 0;
}
.del {
  width: 60px;
  height: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
}
